
/*
* Css Colors
* GruvBox
*/

@define-color background #282828;

@define-color error #cc241d;
@define-color error_container #9d0006;

@define-color inverse_on_surface #3c3836;
@define-color inverse_primary #458588;
@define-color inverse_surface #ebdbb2;

@define-color on_background #ebdbb2;

@define-color on_error #fb4934;
@define-color on_error_container #fbf1c7;

@define-color on_primary #282828;
@define-color on_primary_container #ebdbb2;
@define-color on_primary_fixed #1d2021;
@define-color on_primary_fixed_variant #3c3836;

@define-color on_secondary #282828;
@define-color on_secondary_container #ebdbb2;
@define-color on_secondary_fixed #1d2021;
@define-color on_secondary_fixed_variant #504945;

@define-color on_surface #ebdbb2;
@define-color on_surface_variant #d5c4a1;

@define-color on_tertiary #282828;
@define-color on_tertiary_container #ebdbb2;
@define-color on_tertiary_fixed #1d2021;
@define-color on_tertiary_fixed_variant #504945;

@define-color outline #665c54;
@define-color outline_variant #504945;

@define-color primary #458588;
@define-color primary_container #3c3836;
@define-color primary_fixed #83a598;
@define-color primary_fixed_dim #458588;

@define-color scrim #000000;

@define-color secondary #689d6a;
@define-color secondary_container #3c3836;
@define-color secondary_fixed #8ec07c;
@define-color secondary_fixed_dim #689d6a;

@define-color shadow #000000;
@define-color source_color #458588;

@define-color surface #282828;
@define-color surface_bright #3c3836;
@define-color surface_container #32302f;
@define-color surface_container_high #3c3836;
@define-color surface_container_highest #504945;
@define-color surface_container_low #1d2021;
@define-color surface_container_lowest #141617;
@define-color surface_dim #282828;

@define-color surface_tint #458588;
@define-color surface_variant #504945;

@define-color tertiary #b16286;
@define-color tertiary_container #3c3836;
@define-color tertiary_fixed #d3869b;
@define-color tertiary_fixed_dim #b16286;
