/*
* Css Colors
* Imperial Red (High Contrast Edition)
*/

@define-color background #000000;

@define-color error #ed2939;
@define-color error_container #4a0404;

@define-color inverse_on_surface #0b0b0c;
@define-color inverse_primary #ed2939;
@define-color inverse_surface #f9f9f9;

@define-color on_background #f9f9f9;

@define-color on_error #ffffff;
@define-color on_error_container #ffb3b3;

@define-color on_primary #ffffff;
@define-color on_primary_container #ffb3b3;
@define-color on_primary_fixed #0b0b0c;
@define-color on_primary_fixed_variant #4a0404;

@define-color on_secondary #ffffff;
@define-color on_secondary_container #e5e5e7;
@define-color on_secondary_fixed #0b0b0c;
@define-color on_secondary_fixed_variant #2c2c2e;

@define-color on_surface #f9f9f9;
@define-color on_surface_variant #d1d1d6;

@define-color on_tertiary #ffffff;
@define-color on_tertiary_container #ffb3b3;
@define-color on_tertiary_fixed #0b0b0c;
@define-color on_tertiary_fixed_variant #800020;

@define-color outline #545458;
@define-color outline_variant #2c2c2e;

@define-color primary #ed2939;
@define-color primary_container #250a0a;
@define-color primary_fixed #ff4d4d;
@define-color primary_fixed_dim #ed2939;

@define-color scrim #000000;

@define-color secondary #ff4d4d;
@define-color secondary_container #1a1a1b;
@define-color secondary_fixed #8e8e93;
@define-color secondary_fixed_dim #545458;

@define-color shadow #000000;
@define-color source_color #ed2939;

@define-color surface #0b0b0c;
@define-color surface_bright #2c2c2e;
@define-color surface_container #1a1a1b;
@define-color surface_container_high #252526;
@define-color surface_container_highest #3a3a3c;
@define-color surface_container_low #050505;
@define-color surface_container_lowest #000000;
@define-color surface_dim #0b0b0c;

@define-color surface_tint #ed2939;
@define-color surface_variant #2c2c2e;

@define-color tertiary #800020;
@define-color tertiary_container #250a0a;
@define-color tertiary_fixed #c41e3a;
@define-color tertiary_fixed_dim #800020;
