@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "0xProto Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(11,14,20,0.96);
    color: @on_surface;
    border-bottom: 4px solid @error_container;
}

/* MODULE BLOCKS */
#workspaces,
#window,
#clock,
#network,
#pulseaudio,
#battery,
#bluetooth,
#tray,
#custom-cpu,
#custom-vpn,
#custom-wlogout {
    padding: 8px 12px;
    transition: all 0.15s ease;
}

/* HOVER = TACTICAL FEEDBACK */
#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-cpu:hover,
#custom-vpn:hover {
    background: rgba(255,46,46,0.08);
}

/* WORKSPACES */
#workspaces button {
    padding: 0 8px;
    color: @on_surface_variant;
}

#workspaces button.active {
    color: @primary;
    background: rgba(255,46,46,0.18);
}

#workspaces button:hover {
    color: @on_surface;
}

/* WINDOW TITLE */
#window {
    color: @on_surface_variant;
}

/* CLOCK */
#clock {
    font-weight: bold;
    letter-spacing: 1px;
}

/* NETWORK */
#network {
    color: @primary;
    font-weight: bold;
}

#network.disconnected {
    color: @outline;
}

/* CPU */
#custom-cpu {
    color: @secondary;
    font-weight: bold;
}

/* VPN */
#custom-vpn {
    color: #00ff9c;
    font-weight: bold;
}

/* AUDIO */
#pulseaudio.muted {
    color: @outline;
}

/* BATTERY */
#battery.warning {
    color: @secondary;
}

#battery.critical {
    color: @error;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% { opacity: 0.4; }
}

/* POWER */
#custom-wlogout {
    color: @error;
    font-size: 18px;
}

#custom-wlogout:hover {
    background: rgba(255,0,76,0.25);
}
